@media (max-width: 940px) {
    .input-form-container,
    .task-container {
        width: calc(100vw - 40px);
    }       
}

@media (max-width: 500px) {
    body {
        padding: 10px;
    }

    .input-form-container,
    .task-container {
        width: calc(100vw - 20px);
    }

    .logo-container {
        margin-bottom: 5px;
    }
}

@media (max-width: 320px) {
    .input-form-container,
    .task-container {
        width: 100%;
    }
}

@media (pointer: coarse) {
    .task-card:hover {
      box-shadow: none;
    }
  }